body {
  padding: 64px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: orange;

  /* 変化前と変化後の動きを補完する */
  transition-property: border-radius;
  /* 1秒かけて変化するよう設定 */
  transition-duration: 1s;
}

.box:hover {
  border-radius: 50%;
}

.box2 {
  width: 100px;
  height: 100px;
  margin-top: 24px;
  background-color: blue;

  /* 変化前と変化後の動きを補完する */
  transition-property: transform;
  /* 1秒かけて変化するよう設定 */
  transition-duration: 1s;

  /* transformの起点を左上に変更する */
  transform-origin: top left;
}

.box2:hover {
  /* X軸方向に50px, Y方向に20px移動 */
  /* transform: translate(50px, 20px); */

  /* 30度回転する */
  /* transform: rotate(30deg); */

  /* X方向に半分、縦に2倍にリサイズする */
  /* transform: scale(.5, 2) */

  /* 同時に適用するには、下記のように書く */
  /* 移動してから回転する */
  /* transform: translateX(100px) rotate(30deg); */

  /* 回転してから移動する */
  transform: rotate(30deg) translateX(100px);
}

.box3 {
  width: 100px;
  height: 100px;
  margin-top: 24px;
  background-color: red;

  transition-property: transform, background;

  /* 0.3秒がよく使われる */
  transition-duration: .3s;

  /* アニメーションが開始する前に1秒 */
  /* transition-delay: 1s; */
}

.box3:hover {
  transform: translateX(30px);
  background: skyblue;
}

.box4 {
  width: 100px;
  height: 100px;
  margin-top: 24px;
  background-color: yellow;

  transition-property: transform, background;
  transition-duration: 0.3s;

  /* もっと細かくするには、cubic-bezierで指定 */
  /* chrome-developerで編集できる */
  /* transition-timing-function: ease-in; */

  /* transition一括指定 */
  transition: transform .3s ease-out 1s, background .5s
}

.box4:hover {
  transform: translateX(30px);
  background: black;
}

.box5 {
  width: 100px;
  height: 100px;
  margin-top: 24px;
  background: green;

  animation-name: move;
  animation-duration: 2s;
  animation-delay: 1s;

  /* アニメーションが終わった後もそのままの状態にする */
  animation-fill-mode: forwards;
  /* アニメーションを2回繰り返す */
  animation-iteration-count: 2;
  /* 再生し終わった後、折り返して再生する */
  /* animation-direction: alternate; */
  /* 逆再生する */
  /* animation-direction: reverse; */
  /* 再生し終わった後、折り返して逆再生する */
  animation-direction: alternate-reverse;
}

@keyframes move {
  /* 最初の状態 */
  0% {
    transform: none;
  }

  /* 再生してから80%の時点 */
  80% {
    transform: translateX(200px) rotate(360deg);
  }

  /* 再生してから100%の時点 */
  100% {
    transform: translateX(300px) rotate(360deg);
  }
}

.btn {
  padding: 16px 32px;
  background: hsl(200, 100%, 40%);
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition: background .3s;
}

.btn:hover {
  background: hsl(200, 100%, 45%);
}

.loading {
  width: 40px;
  height: 40px;
  margin-top:48px;
  border: 8px solid #ccc;
  border-right-color: transparent;
  border-radius: 50%;

  animation: spin .8s infinite linear;
}

@keyframes spin {

  /* 0% { */
  from {
    transform: none;
  }

  /* 100% { */
  to {
    transform: rotate(360deg);
  }
}

.message {
  width: 300px;
  padding: 8px 16px;
  background: #2c2c2c;
  color: #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  position: fixed;
  right: 32px;
  bottom: 32px;

  animation: popup 2s forwards;
}

@keyframes popup {
  0% {
    transform: translateY(20px);
    opacity: 0;
    animation-timing-function: ease-out;
  }

  20%,
  80% {
    transform: none;
    opacity: 1;
  }

  100% {
    transform: translateY(20px);
    opacity: 0;
    pointer-events: none;
  }
}

.click {
  width: 300px;
  padding: 8px 16px;
  position: fixed;
  right: 32px;
  bottom: 32px;
}